@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  scroll-behavior: smooth;
}

.hire-btn{
  box-shadow: 5px 5px 10px 0px #8983FA, inset -5px -5px 10px 0px #565299;
  border: none;
  padding: 10px 25px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.4s;
}

.hire-btn:hover{
  box-shadow: 5px 20px 30px 0px #8983FA, inset -5px -5px 20px 0px #565299;
}

.contact-btn{
  box-shadow: 5px 5px 10px 0px #8983FA, inset -5px -5px 10px 0px #565299;
  border: none;
  padding: 10px 25px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.4s;
}

.contact-btn:hover{
  box-shadow: 5px 20px 30px 0px #8983FA, inset -5px -5px 20px 0px #565299;
}